.swiper-wrap{
    position: relative;
    width: 95%;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: auto;
    margin-right: auto;
}
.swiper-button-next{
    margin-top: 0px;
    position: absolute;
    top: 50%;
    right: -40px;
}